
<h1>Welcome to Angular!</h1>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#why-use-angular" aria-expanded="false" aria-controls="why-use-angular">
  Why use Angular?
</button>

<div class="collapse" id="why-use-angular">
  <ul>
    <li>Angular provides a comprehensive set of tools for building complex applications.</li>
    <li>It has a large and active community, which means there are plenty of resources available for learning and troubleshooting.</li>
    <li>Angular is highly modular, which makes it easy to reuse code and build scalable applications.</li>
    <li>It provides a powerful set of features for building responsive and dynamic user interfaces.</li>
  </ul>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#getting-started-with-angular" aria-expanded="false" aria-controls="getting-started-with-angular">
  Getting started with Angular
</button>

<div class="collapse" id="getting-started-with-angular">
  <p>If you're new to Angular, there are plenty of resources available to help you get started. Here are a few places to start:</p>

  <ul>
    <li><a href="https://angular.io/docs">The official Angular documentation</a></li>
    <li><a href="https://www.udemy.com/topic/angular/">Angular courses on Udemy</a></li>
    <li><a href="https://www.pluralsight.com/courses/angular-2-getting-started-update">Angular courses on Pluralsight</a></li>
  </ul>
</div>
